* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  height: 1000px;
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #224248;
}

.icon {
  font-size: 30px;
  cursor: pointer;
  color: #FF9A00;
}

h1 {
  color: #FF9A00;
}

.nav {
  background-color: #224248;
  position: fixed; 
  top: 0;
  right: -260px;
  width: 260px; 
  height: 100vh;
  padding: 20px 40px;
  overflow-x: hidden;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 25px;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: #FF9A00;
}

.cross {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #FF9A00;
}
.admission{
  background-color: #FF9A00;
  width: 35px ;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #224248;
  position: fixed;
  top:510px;
  left: 20px;
}
#aerrow{
  display: inline-block;
}